.container {
    /* margin-top: -80px; */
    z-index: -1;
    /* background-image: linear-gradient(to top, rgba(0,0,0,1), rgba(0,0,0,1)); */
}


.caption {
    position: absolute;
    top: 50%;
    left: 20%;
    transform: translateY(-50%);
    color: #fff;
    width: 40%;
    background-color: rgba(255,255,255,0.2);
    backdrop-filter: blur(5px);
    padding: 20px;
    border-radius: 8px;
}

.country {
    font-size: larger;
    font-weight: 400;
}

.city {
    font-size: 36px;
}

.description {
    font-size: 18px;
}

